<!doctype html>

<html lang="en">
<head>

    <title>Browse All Stores</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <!-- Bootstrap imports --> 
    <link href="/js/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="/js/bootstrap-3.3.2-dist/js/bootstrap.js"> </script>

    <!-- JQuery (necessary for Bootstrap's Javascript plugins)-->
    <script type="text/javascript" src= "https://code.jquery.com/jquery.js"></script>

    <script src="js/header.js"></script>

    <!--- Link to external style sheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">

</head>


<body>
    <div class="container">
    <!-- Buttons -->
        <div id ="sticker" class="cssmenu">
            <ul class="nav">
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/myStores"><span>My Stores</span></a></li>
                <li class="active"><a href="/allStores"><span>All Stores</span></a></li>
                <li><a href="/account"><span>Manage Account</span></a></li>
                <li><a href="/saleWatch"><span>Sale Watch</span></a></li>
                <li class="last"><a href="/help"><span>Help</span></a></li>
            </ul>
        </div>

<br>
<br>
<div align="center">
<h1>Browse All Stores</h1>
</div>
<!-- Horizontal Rule -->
<hr style="height:5px;border-color:black;background-color:black" />
<!-- STORES -->
<br>
<br>
<!-- Bootstrap grid system-->

<div class="row">
{{#each stores}}
    <img src = "/images/stores/{{imageURL}}" class="block img-rounded img-responsive span4">
{{/each}}

<!-- Using handlebars 
{{#each stores}}
<div class = "block">
    <img src = "/images/{{imageURL}}" class = "img-rounded img-responsive">
</div>
{{/each}}-->
</div>
</body>

</html>
