<!doctype html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <!-- initial-scale=1 sets the intial zoom level when the page is first loaded by the browser-->
    <meta name="viewport" content="width=device-width, iniitial-scale=1">
    <title>Browse All Stores</title>

    <!--Javascript Imports -->
    <script src="/js/jquery-1.11.0.js"> </script>
    <script src="/js/bootstrap-3.3.2-dist/js/bootstrap.js"> </script>

    <!-- JQuery (necessary for Bootstrap's Javascript plugins)-->
    <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Link to external javascript --> 
    
    <script src="/js/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>

    <script src="/js/jquery-sticky.js"></script>
    <script>
      $(document).ready(function(){
        $("#sticker").sticky({topSpacing:0});
      });
    </script>

    <!-- Bootstrap imports --> 
    <link href="/js/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="js/header.js"></script>
    <script src="js/subscribe.js"></script>

    <!--- Link to external style sheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">

</head>


<body>
    <div class="container">
    <!-- Buttons -->
        <div id ="sticker" class="cssmenu">
            <ul class="nav">
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/myStores"><span>My Stores</span></a></li>
                <li class="active"><a href="/allStores"><span>All Stores</span></a></li>
                <li><a href="/account"><span>Manage Account</span></a></li>
                <li><a href="/saleWatch"><span>Sale Watch</span></a></li>
                <li class="last"><a href="/help"><span>Help</span></a></li>
            </ul>
        </div>

<br>
<br>
<div align="center">
<h1>Browse All Stores</h1>
</div>
<!-- Horizontal Rule -->
<hr style="height:5px;border-color:black;background-color:black" />
<!-- STORES -->
<br>
<br>
<!-- Bootstrap grid system-->

{{#each allstores.stores}}
    <div>
        <a href="#" class="store" id="{{id}}">
            <img src = "/images/stores/{{imageURL}}" class="block img-rounded img-responsive span">
            <input type="button" name="subscribe" id="subscribe" value="Subscribe to Store" style="height:150px;width:150px;" class="btn btn-default">
        </a>
    </div>
{{/each}}

<!-- Using handlebars 
{{#each stores}}
<div class = "block">
    <img src = "/images/{{imageURL}}" class = "img-rounded img-responsive">
</div>
{{/each}}-->

</body>

</html>
