<!doctype html> 

<!-- lang specifies the language of the element's content-->
<html lang="en"> 
<head>
	<!-- Specifies the character encoding for the HTML document - Unicode-->
	<!-- Meta is data and data-->
	<meta charset="utf-8">
	<!-- initial-scale=1 sets the intial zoom level when the page is first loaded by the browser-->
	<meta name="viewport" content="width=device-width, iniitial-scale=1">
	<title>Sales Watch</title>

	<!--Javascript Imports -->
	<script src="/js/jquery-1.11.0.js"> </script>
	<script src="/js/bootstrap-3.3.2-dist/js/bootstrap.js"> </script>

	<!-- JQuery (necessary for Bootstrap's Javascript plugins)-->
	<script src= "https://code.jquery.com/jquery.js"></script>
		<!-- Link to external javascript --> 
	<script src="index.js"></script>
	<script src="/js/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>

	<script src="/js/jquery-sticky.js"></script>
	<script>
	  $(document).ready(function(){
	    $("#sticker").sticky({topSpacing:0});
	  });
	</script>

	<script src="js/header.js"></script>

    <!-- Bootstrap imports --> 
	<link href="/js/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/js/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet">

	<!--- Link to external style sheet -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">

</head>

<body>
	<div class="container">
	<!-- Buttons -->
		<div id ="sticker" class="cssmenu">
			<ul class="nav">
				<li><a href="/"><span>Home</span></a></li>
				<li><a href="/myStores"><span>My Stores</span></a></li>
				<li><a href="/allStores"><span>All Stores</span></a></li>
				<li><a href="/account"><span>Manage Account</span></a></li>
				<li class="active"><a href="/saleWatch"><span>Sale Watch</span></a></li>
				<li class="last"><a href="/help"><span>Help</span></a></li>
			</ul>
		</div>

	<!-- Welcome Banner -->
	<div align="center">
		<h1>Sale Watch</h1>
	</div>

	<!-- Horizontal Rule -->
	<hr style="height:5px;border-color:black;background-color:black" />

	<!-- Feed -->
	{{#each sales}}
	<div>
		<a href="#" class="thumbnail sale">
			<div align="center" style="font-size:25px">
				{{description}}
			</div>
			<div align="left">
				<img src="images/stores/{{imageURL}}" class="img img-responsive" height="150" width="150">
			</div>
			<div align="right">
				<input type="button" name="watch" value="Unwatch Sale" style="height:150px;width:150px;" class="btn btn-default">
			</div>
		</a>
	</div>
	{{/each}}

</body>
</html>